<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<head>
    <meta charset="UTF-8">
    <title>구입처생성</title>
</head>
<body>
<main layout:fragment="content">
    <h1>구입처 등록</h1>
    <form id="supForm" th:action="@{/sups}" method="post" >
        <label for="sup_id">거래처: </label>
        <input type="text" id="sup_id" name="name" required>
        <div>
            <span id="spaceError" class="error" style="display:none">공백에러</span>
            <span id="specialCharError" class="error" style="display:none">특수문자에러</span>
            <span id="startWithNumberError" class="error" style="display:none">숫자부터 입력하면안됨</span>
        </div>
        <label for="sup_contact1">연락처1: </label>
        <input type="text" id="sup_contact1" name="contact1">
        <label for="sup_contact2">연락처2: </label>
        <input type="text" id="sup_contact2" name="contact2">
        <label for="sup_business_number">사업자번호: </label>
        <input type="text" id="sup_business_number" name="business_number">
        <button type="submit">제출하기</button>

    </form>
</main>
<th:block layout:fragment="js">
    <script th:src="@{/js/sups.js}"></script>
</th:block>

</body>
</html>