<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<head>
    <meta charset="UTF-8">
    <title>과일생성</title>
</head>
<body>
<main layout:fragment="content">
<h1>새 아이템 생성</h1>
<form id="fruitForm" th:action="@{/fruits}" method="post" >
    <label for="fruit_id">아이템(과일): </label>
    <input type="text" id="fruit_id" name="name" required>
    <div>
        <span id="spaceError" class="error" style="display:none">공백에러</span>
        <span id="specialCharError" class="error" style="display:none">특수문자에러</span>
        <span id="startWithNumberError" class="error" style="display:none">숫자부터 입력하면안됨</span>
    </div>
    <button type="submit">등록하기</button>



</form>
</main>
<th:block layout:fragment="js">
    <script th:src="@{/js/items.js}"></script>
</th:block>

</body>
</html>