<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
</head>
<body>
<main layout:fragment="content">
<h2>상품목록</h2>
<table>
  <tr>
    <th style="text-align: left">아이디</th>
    <th style="text-align: left">상품명</th>
  </tr>
  <tr th:each="fruit: ${pageDto.fruits}">
    <td th:text="${fruit.id}"></td>
      <td><a th:href="@{/fruits/{id}(id=${fruit.id})}" th:text="${fruit.name}"></a></td>
  </tr>
</table>
    <div>
        <ul>
            <li th:each="pageNum:${#numbers.sequence(1,pageDto.totalPages)}">
                <a th:href="@{/fruits(page=${pageNum}, limit=${pageDto.limit})}" th:text="${pageNum}"></a>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li th:text="|page:  + ${pageDto.page}|"></li>
            <li th:text="|limit:  + ${pageDto.limit}|"></li>
            <li th:text="|totalPages:  + ${pageDto.totalPages}|"></li>
            <li th:text="|totalElements:  + ${pageDto.totalElements}|"></li>
        </ul>
    </div>

</main>
</body>
</html>