<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>수정하기</title>
</head>
<body>
<main layout:fragment="content">
    <h1>수정하기</h1>
    <form id="fruitForm">
        <input type="hidden" id="fruit_id" name="id" th:value="${fruit.id}">
        <label for="fruit_name">아이템(과일): </label>
        <input type="text" id="fruit_name" name="fruit" th:value="${fruit.name}">
<!--위의 아이템 부분이 dto의 name으로 들어가는건데 item으로 적혀있음. 밸류도 아이템으로 들고오는지 컨트롤러쪽에서 확인해야함 model로 넘겨올때-->
        <button type="submit">아이템 수정</button>
    </form>
</main>
<th:block layout:fragment="js">
    <script th:src="@{/js/itemsUpdate.js}"></script>
</th:block>
</body>
</html>